.container {
  box-sizing: border-box;
  position: relative;
}

.cc{
  background-color: #FEEEC0;
  padding: 68px 80px 125px;
}

.man2 {
  position: absolute;
  top: -60px;
  left: 80px;

  width: 185px;
  height: 210px;

  pointer-events: none;
}

.text {
  font-family: Avenir;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #694C00;
}

.signup {
  margin-top: 40px;
}

.img {
  max-width: 800px;
}

@media(max-width: 767px) {
  .img {
    max-width: 100%;
    box-sizing: border-box;
  }
  .cc {
    padding: 40px 24px 125px;
  }
  .signup {
    margin-top: 32px;
    margin-bottom: 40px;
  }
}
