.container {
  box-sizing: border-box;

  border: 1px solid #8CBBEE;
  border-radius: 20px;

  padding: 18px;
  margin-top: 40px;

  width: 100%;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px #DFEEFF;
}

.content {
  box-sizing: border-box;
  display: flex;
}

.img {
  border-radius: 15px;
  max-width: 740px;
  width: 100%;
  object-fit: contain
}

.right {
  flex: 1;

  margin-top: 100px;
  display: flex;
  justify-content: center;
  margin-left: 16px;

  position: relative;
}

.rc {
  width: 300px;
  margin: 0 auto;
}

.title {
  font-family: Avenir;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 33px;

  margin-bottom: 16px;
}

.text {
  font-family: Avenir;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
}


.action {
  margin-top: 32px;
}


@media(max-width: 767px) {

  .container  {
    display: none;
  }

  .content {
    flex-direction: column;
  }

  .right {
    margin-top: 16px;
    margin-left: 0;
  }

  .rc {
    width: 100%;
    margin: 0 auto;
  }

}
