.action {
  box-sizing: border-box;
  display: inline-block;

  height: 60px;
  width: 100%;

  line-height: 60px;
  font-family: Avenir;
  font-style: normal;
  font-weight: 900;
  font-size: 12px;

  letter-spacing: 0.15em;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

  color: #FFFFFF;
  background-color: #1471EB;
  border-radius: 5px;

  outline: none;
  cursor: pointer;
}
