.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left {
  width: 320px;
  min-width: 320px;
}

.right {
  margin-left: 30px;
}

@media(max-width: 767px) {
  .content {
    flex-direction: column;
  }

  .left {
    width: 100%;
  }

  .right {
    margin-left: 0;
  }

}
