.container {
  box-sizing: border-box;

  height: 550px;
  margin-top: 50px;
  padding-left: 24px;
  padding-right: 24px;

  background-image: url(./hero.png);
  background-position: right top;
  background-repeat: no-repeat;
  background-size: contain;
  background-origin: border-box;
}

.hero {
  box-sizing: border-box;
  padding-top: 20px;

  background-image: url(./bg2.png);
  background-position-x: 40px;
  background-position-y: 20px;
  background-repeat: no-repeat;
  background-size: initial;
  background-origin: border-box;
}

.inner {
  max-width: 1040px;
  margin: 0 auto;
}

.title {
  font-family: Avenir;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 66px;

  color: #2068BC;
}

.subtitle {
  margin-top: 27px;

  font-family: Avenir;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;

  line-height: 25px;
  color: #1C2541;
}

.signup {
  margin-top: 27px;
  width: 180px;

  background-color: #E60060
}
.secondary {
  margin-top: 9px;
}

.worker {
  font-family: Avenir;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 40px;
  text-decoration-line: underline;


  color: #2068BC;
}

@media(max-width: 767px) {
  .container {
    margin-top: 40px;
    background-position: right bottom;
    height: 700px;
  }

  .hero {
    background-position-x: 24px;
    background-position-y: 0px;
    padding-top: 0
  }

  .signup {
    margin-top: 27px;
    width: 100%;
  }
  .secondary{
    display: none;
  }
}
