.header {
  box-sizing: border-box;

  display: flex;
  align-items: center;

  padding-left: 80px;

  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

.white {
  min-height: 205px;
  padding-top: 155px;

  background-color: #F3F9FF;
  background-image: url(./bg-white.svg);
}

.cyan {
  min-height: 250px;
  padding-top: 200px;

  background-color: white;
  background-image: url(./bg-cyan.svg);
}

.yellow {
  min-height: 270px;
  padding-top: 220px;

  background-color: #CBFCF4;
  background-image: url(./bg-yellow.svg);
}

.orange {
  min-height: 290px;
  padding-top: 240px;

  background-color: #FEEEC0;
  background-image: url(./bg-orange.svg);
}

.title {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 49px;

  padding-right: 20px;
}

.white .title {
  color: #1C2541;
  background-color: white;
}

.cyan .title {
  color: #25796A;
  background-color: #CBFCF4;
}
.yellow .title {
  color: #694C00;
  background-color: #FEEEC0;
}

.orange .title{
  color: #2068BC;
  background-color: #FFDABF;
}

.line {
  width: 100%;

  height: 1px;

  background: #8CBBEE;
  flex: 1;

  display: inline-block;

  position: relative;
  top: 2px;
}


@media(max-width: 767px) {

  .header {
    padding-left: 24px;
    padding-right: 24px;
  }

  .line {
    display: none;
  }

  .white {
    min-height: 160px;
    padding-top: 110px;
  }

  .cyan {
    min-height: 180px;
    padding-top: 170px;
  }

  .yellow {
    min-height: 310px;
    padding-top: 260px;
  }

  .orange {
    min-height: 390px;
    padding-top: 380px;
  }

}
