.header {
  box-sizing: border-box;
  display: flex;
  align-items: center;

  min-height: 260px;
  padding-top: 150px;
  padding-left: 80px;

  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}
.white {
  background-color: #F3F9FF;
  background-image: url(./bg-white.svg);
}

.cyan {
  background-color: white;
  background-image: url(./bg-cyan.svg);
}

.yellow {
  background-color: #CBFCF4;
  background-image: url(./bg-yellow.svg);
}

.orange {
  background-color: #FEEEC0;
  background-image: url(./bg-orange.svg);
}

.title {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 49px;

  padding-right: 20px;
}

.white .title {
  color: #1C2541;
  background-color: white;
}

.cyan .title {
  color: #25796A;
  background-color: #CBFCF4;
}
.yellow .title {
  color: #694C00;
  background-color: #FEEEC0;
}

.orange .title{
  color: #2068BC;
  background-color: #FFDABF;
}

