.container {
  box-sizing: border-box;
}

.header {
  min-height: 250px;
  padding-top: 200px;

  font-family: 'Avenir';
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 49px;

  color: #1C2541;

  background-image: url(./bg.svg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}
