.container {
  box-sizing: border-box;
}

.header {
  box-sizing: border-box;

  min-height: 260px;
  padding-top: 150px;

  background-image: url(./bg.svg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;

  padding-left: calc((100% - 1256px)/2);

  display: flex;
  align-items: center;
}

.title {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 49px;

  color: #1C2541;

  padding-right: 20px;
  background: white;
}

.content {
  max-width: 1256px;
  margin: 0 auto;
}

.cc {
    background: white;
}
