.container {
  box-sizing: border-box;
  margin-top: -50px;
}

.content {
  max-width: 1256px;
  margin: 0 auto;
}

.cc {
    background: white;
    padding-bottom: 100px;
    padding-top: 55px;
}


@media(max-width: 767px) {
  .cc {
    padding-top: 40px
  }
}
