.container {
  padding: 9px 3px 5px;

  box-sizing: border-box;
  border: 1px solid transparent;
  border-radius: 20px;
  box-shadow: 0px 4px 4px #DFEEFF;

  cursor: pointer;

  height: 338px;
  position: relative;
}

.img {
  margin: 0 auto;
  display: block;
  border-radius: 15px;
  max-height: 220px;
}

.title {
  font-family: Avenir;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;

  margin-top: 16px;

  padding-left: 10px;
}

.text {
  font-family: Avenir;
  font-size: 16px;
  line-height: 22px;

  padding: 0 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.active {
  height: 379px;
  background: white;

  border-color: #8CBBEE;
  border-bottom-color: white;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: none;

  transition: height 0.2s;
  position: relative;
}

.container::after {
  position: absolute;

  content: '';

  top: 377px;
  left: -1px;
  height: 4px;
  width: calc(100% + 1px);
  background: white;

  display: none;
}

.active::after {
  display: block;
}

@media(max-width: 767px) {
  .container::after   {
    display: none;
  }

  .active::after {
    display: none;
  }

  .active {
    padding: 9px 3px 5px;

    box-sizing: border-box;
    border: 1px solid transparent;
    border-radius: 20px;
    box-shadow: 0px 4px 4px #DFEEFF;

    cursor: pointer;

    height: 338px;
    position: relative;
  }


}
