.container {
  background: white;
  width: 100%;

  padding: 0 15px;

  box-sizing: border-box;
  background: white;
  position: relative;
}


.content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.tab {
  height: 338px;
}

@media(max-width: 767px) {
  .content  {
    flex-wrap: wrap;
  }

  .tab {
    margin-bottom: 24px;
    width: 100%;
    height: auto;
  }

  .container {
    width: 100%;
    padding: 0 24px;

    box-sizing: border-box;
  }
}
