.container {
  box-sizing: border-box;
  position: relative;
}

.cc{
  background-color: #CBFCF4;
  padding: 86px 80px 65px;
}

.man1 {
  position: absolute;
  top: -60px;
  right: 80px;

  width: 335px;
  height: 190px;

  pointer-events: none;
}

.features {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

@media(max-width: 767px) {
  .features  {
    flex-wrap: wrap;
    margin-bottom: 40px;
  }

  .cc{
    background-color: #CBFCF4;
    padding: 86px 24px 65px;
  }
}
