.feature {
  box-sizing: border-box;
  max-width: 260px;
}

.content {
  margin-top: 53px;
}

.preview {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-family: Avenir;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 22px;
  color: #25796A;
}

.img {
  max-height: 200px;
}

.text {
  font-family: Avenir;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #25796A;

  margin-top: 13px;
}

@media(max-width: 767px) {

  .img {
    width: 100%;
    max-height: initial;
  }

  .content {
    margin-top: 24px;
  }


  .feature  {
    margin-bottom: 50px;
    max-width: 100%;
  }
}
