.container {
  box-sizing: border-box;
  position: relative;
}

.cc{
  background-color: #FFDABF;
  padding: 68px 80px 100px;
}

.man3 {
  position: absolute;
  top: -21px;
  right: 80px;

  width: 242px;
  height: 362px;

  pointer-events: none;
}


.content {
  display: flex;
  justify-content: space-between;
}

.left {
  width: 320px;
  min-width: 320px;
}

.text {
  font-family: Avenir;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #2068BC;
}

.bold {
  font-weight: 800
}

.signup {
  margin-top: 40px;
}
